@use "../../base";

/// @access private
@mixin styles {
  .tbxforms-character-count {
    @include base.tbxforms-responsive-margin(6, "bottom");

    .tbxforms-form-group,
    .tbxforms-textarea {
      margin-bottom: base.tbxforms-spacing(1);
    }

    // If the textarea enters the error state whilst the user is focused on it,
    // show the error state. This presents feedback to the user that the value
    // has become invalid without needing to see the counter.
    .tbxforms-textarea--error:focus {
      border-color: base.tbxforms-functional-colour(error);
      box-shadow: inset 0 0 0 base.$tbxforms-border-width-form-element base.tbxforms-functional-colour(error);
    }
  }

  .tbxforms-character-count__message {
    @include base.tbxforms-font-tabular-numbers;
    margin-top: 0;
    margin-bottom: 0;

    &::after {
      // Zero-width space that will reserve vertical space when no hint is
      // provided as:
      // - setting a min-height is not possible without a magic number because
      //   the line-height is set by the `tbxforms-font` call above
      // - using `:empty` is not possible as the hint macro outputs line breaks
      content: "\200B";
    }
  }

  .tbxforms-character-count__message--disabled {
    visibility: hidden;
  }
}
