include LICENSE *.rst *.txt *.md

exclude setup.cfg
exclude pyproject.toml

recursive-include tbxforms/locale *
recursive-include tbxforms/templates *
recursive-include tbxforms/static *

global-exclude * __pycache__
global-exclude * .cache
global-exclude * *.py[co]
global-exclude * .DS_Store
