# Manifest used for source and binary distributions.

# Only need to explicitly include the changelog. The readme, licence
# and manifest files all pet pulled in automatically or from the
# settings in setup.py

include LICENSE *.rst *.txt *.md
include CHANGELOG.md

exclude setup.cfg
exclude pyproject.toml

recursive-include tbxforms/locale *
recursive-include tbxforms/templates *
recursive-include tbxforms/static *

global-exclude * __pycache__
global-exclude * .cache
global-exclude * *.py[co]
global-exclude * .DS_Store
