@use "../base";

/// @access private
@mixin styles {
  // Headings
  %tbxforms-heading-xl {
    @include base.tbxforms-font($size: 48, $weight: bold);

    display: block;

    margin-top: 0;
    color: base.tbxforms-functional-colour(text);
    @include base.tbxforms-responsive-margin(8, "bottom");
  }

  .tbxforms-heading-xl {
    @extend %tbxforms-heading-xl;
  }

  %tbxforms-heading-l {
    @include base.tbxforms-font($size: 36, $weight: bold);

    display: block;

    margin-top: 0;
    color: base.tbxforms-functional-colour(text);
    @include base.tbxforms-responsive-margin(6, "bottom");
  }

  .tbxforms-heading-l {
    @extend %tbxforms-heading-l;
  }

  %tbxforms-heading-m {
    @include base.tbxforms-font($size: 24, $weight: bold);

    display: block;

    margin-top: 0;
    color: base.tbxforms-functional-colour(text);
    @include base.tbxforms-responsive-margin(4, "bottom");
  }

  .tbxforms-heading-m {
    @extend %tbxforms-heading-m;
  }

  %tbxforms-heading-s {
    @include base.tbxforms-font($size: 19, $weight: bold);

    display: block;

    margin-top: 0;
    color: base.tbxforms-functional-colour(text);
    @include base.tbxforms-responsive-margin(4, "bottom");
  }

  .tbxforms-heading-s {
    @extend %tbxforms-heading-s;
  }

  // Captions to be used inside headings

  .tbxforms-caption-xl {
    @include base.tbxforms-font($size: 27);

    display: block;

    margin-bottom: base.tbxforms-spacing(1);

    color: base.tbxforms-functional-colour(secondary-text);
  }

  .tbxforms-caption-l {
    @include base.tbxforms-font($size: 24);

    display: block;

    margin-bottom: base.tbxforms-spacing(1);
    color: base.tbxforms-functional-colour(secondary-text);

    @media #{base.tbxforms-from-breakpoint(tablet)} {
      margin-bottom: 0;
    }
  }

  .tbxforms-caption-m {
    @include base.tbxforms-font($size: 19);

    display: block;

    color: base.tbxforms-functional-colour(secondary-text);
  }

  // Body (paragraphs)

  %tbxforms-body-l {
    margin-top: 0;
    color: base.tbxforms-functional-colour(text);
    @include base.tbxforms-font($size: 24);
    @include base.tbxforms-responsive-margin(6, "bottom");
  }

  .tbxforms-body-l {
    @extend %tbxforms-body-l;
  }

  %tbxforms-body-m {
    margin-top: 0;
    color: base.tbxforms-functional-colour(text);
    @include base.tbxforms-font($size: 19);
    @include base.tbxforms-responsive-margin(4, "bottom");
  }

  .tbxforms-body-m {
    @extend %tbxforms-body-m;
  }

  %tbxforms-body-s {
    margin-top: 0;
    color: base.tbxforms-functional-colour(text);
    @include base.tbxforms-font($size: 16);
    @include base.tbxforms-responsive-margin(4, "bottom");
  }

  .tbxforms-body-s {
    @extend %tbxforms-body-s;
  }

  // Usage aliases

  // Using extend to alias means we also inherit any contextual adjustments that
  // refer to the 'original' class name

  .tbxforms-body-lead {
    @extend %tbxforms-body-l;
  }

  .tbxforms-body {
    @extend %tbxforms-body-m;
  }

  // Contextual adjustments
  // Add top padding to headings that appear directly after paragraphs.

  %tbxforms-body-l + %tbxforms-heading-l {
    padding-top: base.tbxforms-spacing(1);

    @media #{base.tbxforms-from-breakpoint(tablet)} {
      padding-top: base.tbxforms-spacing(2);
    }
  }

  %tbxforms-body-m + %tbxforms-heading-l,
  %tbxforms-body-s + %tbxforms-heading-l,
  %tbxforms-list + %tbxforms-heading-l {
    @include base.tbxforms-responsive-padding(4, "top");
  }

  %tbxforms-body-m + %tbxforms-heading-m,
  %tbxforms-body-s + %tbxforms-heading-m,
  %tbxforms-list + %tbxforms-heading-m,
  %tbxforms-body-m + %tbxforms-heading-s,
  %tbxforms-body-s + %tbxforms-heading-s,
  %tbxforms-list + %tbxforms-heading-s {
    padding-top: base.tbxforms-spacing(1);

    @media #{base.tbxforms-from-breakpoint(tablet)} {
      padding-top: base.tbxforms-spacing(2);
    }
  }
}
