@use "../../base";

/// @access private
@mixin styles {
  .tbxforms-input {
    @include base.tbxforms-font($size: 19);

    box-sizing: border-box;
    width: 100%;
    height: base.tbxforms-px-to-rem(40px);
    margin-top: 0;
    padding: base.tbxforms-spacing(1);
    // Setting any background-color makes text invisible when changing colours
    // to dark backgrounds in Firefox (https://bugzil.la/1335476). As
    // background-color and color need to always be set together, color should
    // not be set either
    border: base.$tbxforms-border-width-form-element solid;
    border-radius: 0;
    border-color: base.tbxforms-functional-colour(input-border);

    // Disable inner shadow and remove rounded corners
    appearance: none;

    &:focus {
      @include base.tbxforms-focused-form-input;
    }

    &:disabled {
      opacity: 0.5;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  .tbxforms-input::-webkit-outer-spin-button,
  .tbxforms-input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .tbxforms-input[type="number"] {
    -moz-appearance: textfield;
  }

  .tbxforms-input--error {
    border-color: base.tbxforms-functional-colour(error);

    &:focus {
      border-color: base.tbxforms-functional-colour(input-border);
    }
  }

  .tbxforms-input--extra-letter-spacing {
    @include base.tbxforms-font-tabular-numbers;
    letter-spacing: 0.05em;
  }

  // em measurements are based on the point size of the typeface
  // Extra space is added on the right to allow for the Safari prefill icon

  .tbxforms-input--width-30 {
    max-width: 29.5em;
  }

  .tbxforms-input--width-20 {
    max-width: 20.5em;
  }

  .tbxforms-input--width-10 {
    max-width: 11.5em;
  }

  .tbxforms-input--width-5 {
    max-width: 5.5em;
  }

  .tbxforms-input--width-4 {
    max-width: 4.5em;
  }

  .tbxforms-input--width-3 {
    max-width: 3.75em;
  }

  .tbxforms-input--width-2 {
    max-width: 2.75em;
  }

  .tbxforms-input__wrapper {
    display: flex;

    .tbxforms-input {
      flex: 0 1 auto;
    }

    .tbxforms-input:focus {
      // Hack to stop focus style being overlapped by the suffix
      z-index: 1;
    }

    // Split prefix/suffix onto separate lines on narrow screens
    @media #{base.tbxforms-until-breakpoint(mobile)} {
      display: block;

      .tbxforms-input {
        // Set max-width to override potential width override class on the input
        max-width: 100%;
      }
    }
  }

  .tbxforms-input__prefix,
  .tbxforms-input__suffix {
    @include base.tbxforms-font($size: 19);
    box-sizing: border-box;
    // Use flexbox to align text within the prefix and suffix
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: base.tbxforms-px-to-rem(40px);
    height: base.tbxforms-px-to-rem(40px);
    padding: base.tbxforms-spacing(1);
    border: base.$tbxforms-border-width-form-element solid;
    border-color: base.tbxforms-functional-colour(input-border);
    background-color: base.tbxforms-colour("black", $variant: "tint-95");
    text-align: center;
    white-space: nowrap;
    // Emphasise non-editable status of prefixes and suffixes
    cursor: default;
    // Split prefix/suffix onto separate lines on narrow screens
    @media #{base.tbxforms-until-breakpoint(mobile)} {
      display: block;
      height: 100%;
      white-space: normal;
    }
  }

  .tbxforms-input__prefix {
    @media #{base.tbxforms-until-breakpoint(mobile)} {
      border-bottom: 0;
    }
    @media #{base.tbxforms-from-breakpoint(mobile)} {
      border-right: 0;
    }
  }

  // Split prefix/suffix onto separate lines on narrow screens
  .tbxforms-input__suffix {
    @media #{base.tbxforms-until-breakpoint(mobile)} {
      border-top: 0;
    }
    @media #{base.tbxforms-from-breakpoint(mobile)} {
      border-left: 0;
    }
  }
}
