// stylelint-disable declaration-no-important
/// @access private
@mixin styles {
  .tbxforms-\!-text-align-left {
    text-align: left !important;
  }

  .tbxforms-\!-text-align-centre {
    text-align: center !important;
  }

  .tbxforms-\!-text-align-right {
    text-align: right !important;
  }
}
