{% load tbxforms %}

<div class="tbxforms-date-input" id="{{ widget.attrs.id }}">
    {% for subwidget in widget.subwidgets %}
        <div class="tbxforms-date-input__item">
            <div class="tbxforms-form-group">
                <label class="tbxforms-label tbxforms-date-input__label" for="{{ subwidget.attrs.id }}">
                    {{ subwidget.attrs|dict_pop:"label" }}
                </label>
                {% include subwidget.template_name with widget=subwidget %}
            </div>
        </div>
    {% endfor %}
</div>
