@mixin tbxforms-font($size, $weight: regular, $line-height: false) {
    $font-size: map-get($tbxforms-font-sizes, $size);

    @if $weight == regular {
        font-weight: $tbxforms-weight--normal;
    } @else if $weight == bold {
        font-weight: $tbxforms-weight--bold;
    } @else {
        @warn 'Font weight ‘#{$weight}’ not supported';
    }

    @if $font-size == null {
        @warn 'Font size ‘#{$size}’ does not exist';
    } @else {
        font-size: $font-size;
    }
}

@mixin tbxforms-text-colour {
    color: $tbxforms-text-colour();

    @media print {
        color: $tbxforms-print-text-colour;
    }
}
