.field select:not([multiple]) {
    background-color: $color--white;
    padding: 0.5em 3.5em 0.5em 1em;
    appearance: none;
    background-image: linear-gradient(
            45deg,
            transparent 50%,
            $color--primary 50%
        ),
        linear-gradient(135deg, $color--primary 50%, transparent 50%),
        linear-gradient(to right, $color--border, $color--border);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
