@use "../../base";

/// @access private
@mixin styles {
  .tbxforms-error-message {
    @include base.tbxforms-font($size: 19, $weight: bold);

    display: block;
    margin-top: 0; // Reset any default browser margins for paragraphs
    margin-bottom: base.tbxforms-spacing(3);
    clear: both;

    color: base.tbxforms-functional-colour(error);
  }
}
