@mixin tbxforms-font-size($size, $line-height: false, $important: false) {
    // Overridden to do nothing
}

@mixin tbxforms-font(
    $size,
    $weight: regular,
    $tabular: false,
    $line-height: false
) {
    // Overridden to do nothing
}
